<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Roman Gardukevich</string>
	<key>Builder Version</key>
	<string>9537.71</string>
	<key>CFBundleDisplayName</key>
	<string>travian</string>
	<key>CFBundleIdentifier</key>
	<string>by.odnairy.travian.manager</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>Global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>doTheHello</string>
				<key>Identifier</key>
				<string>doTheHello</string>
				<key>Image</key>
				<string>icon19-whitelisted.png</string>
				<key>Label</key>
				<string>Hello World</string>
				<key>Palette Label</key>
				<string>Hello World</string>
				<key>Tool Tip</key>
				<string>Say Hello</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>travian.js</string>
				<string>Lab.js</string>
				<string>travianCore.js</string>
				<string>market.js</string>
				<string>jquery-2.0.3.js</string>
			</array>
		</dict>
	</dict>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.travian.com</string>
				<string>*.travian.ru</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://gardukevich.com</string>
</dict>
</plist>
